@import url('https://fonts.googlewapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.portfolio{
    min-height: 100hv;
    width:100%;
    display: flex;
}

.navlist{
    display: flex;
    gap: 3.5rem;
    
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navlist li{
    list-style: none;
}

.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color:#FFF;

}

.left,.right{
    height: 100vh;
    display: flex;
    align-items: center;
}

.left{
    background-color: #262525;
    width: 70%;
    padding-left: 3rem;
}

.right{
    background-color: #3877FF;
    width: 30%;
}

.icons .fa-brands{
    color: #bbb;
    font-size: 1.7rem;

}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.content{
    margin-left: 4rem;

}
.content .intro{
    font-size: 1.5rem;
    color: #FFF;
}
.content .intro span{
    color: blueviolet;
}
.content h1{
    font-size: 3rem;
    color:#5db9ee;
}
.content .details{
    font-size: 1.1rem;
    color:#FFF;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem; 
}
.button button{
    border: .2rem solid skyblue;
    font-size: 1.1rem;
    padding: 0.8rem 1,5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}
button:nth-child(1){
    background-color: skyblue;
    color: #262525;
}
button:nth-child(2){
    background-color: transparent;
    color: skyblue;
    margin-left: 2rem;
}

button:nth-child(1):hover{
    background-color: transparent;
    color:skyblue;
}

button:nth-child(2):hover{
    background-color: skyblue;
    color: #262525;
}